.complete-container {
    padding-top: 30px;
}
.event-detail {
    background-color: #ffffff;
    margin: 5%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
