.selection-form {
    padding-bottom: 75px;
}
.selection-add-box {
    margin-bottom: 15%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selection-add-box label {
    font-weight: bold;
}
input {
    width: 80%;
}
select {
    width: 80%;
}
html {
    background-color: #f7f7f7;
}
.btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-box button {
    background-color: #15397a;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
}
.bc-btn a {
    background-color: red;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
}
