.ticket-list {
    margin: 10px 20px 20px 20px;
}
.ticket-list p {
    margin: 7px;
}
.ticket-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ticket-list li {
    font-size: 12px;
}
.reserve-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.reserving-list {
    width: fit-content;
    margin-top: 30px;
}

.reserving-box {
    width: 312px;
    height: 140px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box-bottom {
    display: flex;
    height: 88px;
    gap: 2%;
    margin-bottom: 10px;
}
.reserving-box-mini {
    background-color: #15397a;
    width: 39%;
    border-radius: 10px;
    height: 140px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}
.reserving-box-mini a {
    color: white;
}

/* 面談予約 */

.mentor-details {
    background-color: #fafafa;
}

.mentor-details .bg-white {
    border: 1px solid #e0e0e0;
    margin: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mentor-name,
.mentor-line,
.mentor-reserve {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px dashed #e0e0e0;
    background-color: #fff;
}

.mentor-reserve:last-child {
    border-bottom: none;
}

.mentor-back-button {
    display: block;
    width: 80%;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: #f7f7f7;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mentor-back-button:hover {
    background-color: #e6e6e6;
    color: #555;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.btn-list {
    bottom: 0;
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.reserve-header {
    background-color: #777777;
}
