.ticket-list {
    margin: 10px 20px 20px 20px;
}
.ticket-list p {
    margin: 7px;
}
.ticket-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ticket-list li {
    font-size: 12px;
}

.box-bottom {
    display: flex;
    height: 88px;
    gap: 2%;
    margin-bottom: 10px;
}
