.ticket-list {
    margin: 10px 20px 20px 20px;
}
.ticket-list p {
    margin: 7px;
}
.ticket-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ticket-list li {
    font-size: 12px;
}
.reserve-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.reserving-list {
    width: fit-content;
    margin-top: 30px;
}

.reserving-box {
    width: 312px;
    height: 140px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box-bottom {
    display: flex;
    height: 88px;
    gap: 2%;
    margin-bottom: 10px;
}
.reserving-box-mini {
    background-color: #15397a;
    width: 39%;
    border-radius: 10px;
    height: 140px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}
.reserving-box-mini a {
    color: white;
}
