/* メンター情報 */

.mentor-information,
.interview-information {
    background-color: #ffffff;
    margin: 5%;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.mentor-information h2,
.interview-information h2 {
    font-weight: bold;
    font-size: large;
}

.mentor-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.mentor-links img {
    width: 96px;
    height: 96px;
}

/* 面談情報 */

.interview-reserved {
    padding: 10px;
    border-top: 1px dashed #e0e0e0;
    border-bottom: 1px dashed #e0e0e0;
}

/* 共通 */

.mentor-back-button:hover {
    background-color: #e6e6e6;
    color: #555;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.btn-list {
    bottom: 0;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.btn-box {
    background-color: #15397a;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin-top: 15px;
}

/* 面談予約 */

.bc-btn a {
    background-color: gray;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
}

/* 面談登録 */

.add-box {
    margin-bottom: 15%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
