
.flex{
    background-color: #15397A;
}
.flex h1{
    color: white;
    font-size: 40px;
    margin-left: 15px;
    margin-top: 6px;
}
.search-box{
    background-color: white;
    width: 140px;
    height: 36px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
}
.search-box p{
    color: 	#999999;
    margin-top: 6px;
    margin-left: 6px;
}
.py-12{
    bottom: 0;
    padding: 0;
}
.btn-list{
    display: flex;
    gap: 12px;
}
.btn{
    width: 80px;
    text-align: center;
    border-color: #999999;
}
.list-box{
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}
.colum-information{
    width: 100%;
    height: 128px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.colum-information h2{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 128px;
    font-size: 30px;
}
.event-remainder{
    width: 100%;
    height: 120px;
}
.event-remainder h2{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 24px;
}
.entry-reminder{
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
}
.entry-reminder h2{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 120px;
    font-size: 30px;
}