html {
    width: 100%;
    height: 100vh;
    background-color: #f7f7f7;
}

li {
    color: #333;
}

.welcome-message {
    margin-top: 5%;
    text-align: center;
}

/* リマインダーセクション */

.section-box {
    background-color: #f7f7f7;
    margin: 1rem 5% 0 5%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.section-header {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    font-size: 16px;
    border-bottom: 2px solid #e0e0e0;
    padding: 10px;
}

.event-box {
    padding: 0.5rem 1rem;
    border-bottom: 1px dashed #e0e0e0;
    background-color: #fafafa;
    overflow: scroll;
}

.event-box:last-child {
    border-bottom: none;
}

.event-box h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card-text {
    color: #777;
}

/* メニューバー */

.list-box {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    background-color: #ffffff;
    border-top: 1px solid #15397a;
    z-index: 999;
}

.btn-list {
    display: flex;
}
.btn {
    max-width: 20%;
    text-align: center;
    font-size: 12px;
    border-color: #999999;
}
.btn img {
    max-width: 100%;
}

/* 共通ボタン */

.add-button {
    display: block;
    width: 80%;
    margin: 15px auto;
    padding: 0.5rem 1rem;
    background-color: #15397a;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
}

.back-button, .edit-button {
    display: block;
    width: 80%;
    margin: 15px auto;
    padding: 0.5rem 1rem;
    background-color: lightgray;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 共通メニュー */

.container {
    margin-top: 3%;
    padding-bottom: 70px;
}

.counter {
    text-align: center;
}

.menu-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-item {
    width: 80%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 共通フォーム */

.form-container {
    background-color: #ffffff;
    margin: 5%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

/* その他共通クラス */

.alert-message {
    color: blue;
    text-align: center;
}

.ticket-link {
    color: blue;
    display: flex;
    justify-content: center;
}
