body {
    margin-top: 25%;
    background-color: #15397a;
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title {
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}

[type="email"],
[type="password"],
textarea,
select {
    border-color: none;
    border-width: 0;
    width: 100%;
    align-items: center;
}

.login-input-box {
    margin-top: 15px;
    width: 80%;
}

.login-input-box input {
    color: #000;
}

.btn-box {
    background-color: #4597f7;
    margin: 16px 0 20px 0;
    border-radius: 8px;
}

.btn-box button {
    padding: 10px;
}