html{
    margin-top: 50%;
    border-color: none;
}
body{
    background-color: #15397A;
    width: 100%;
    height: 100%;

}
.login-top-space{
    width: 100%;
    height: 120px;
    padding-top: 200px;
    color: #15397A;
}
.mt-32{
    margin-top: 200px;
}
.mb-4{
    /* background-color: black; */
    color: white;
}
.mt-4{
    /* background-color: black; */
    color: white;
}
.w-full{ 
    width: 100%;
    height: 100%;
    background-color: #15397A;
    color: white;
    margin-top: 50px;
    
}

.w-full h1{
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}
.ease-in-out{
    background-color: #4597F7;
    color: white;
}
button{
    padding: 10px;
}
.shadow-md{
    --tw-shadow: none;
}
[type=password]{
    border-color: none;
}
[type=email], [type=url], [type=password], [type=number], [type=date], [type=datetime-local], [type=month], [type=search], [type=tel], [type=time], [type=week], [multiple], textarea, select{
    border-color: none;
    border-width: 0;
    right: 100px;
    width: 320px;
    align-items: center;
}

.login-input-box{
    margin-top: 15px;
}
.btn-box {
    background-color: #4597F7;
    margin-left: 20px;
    border-radius: 8px;
}