.industry-link {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #fafafa; 
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #e0e0e0;
}

.industry-link:hover {
  background-color: #fafafa;
  color: #555;
}