.back-button {
  display: block;
  width: 80%;
  margin:  0 auto;
  padding: 0.5rem 1rem;
  background-color: #f7f7f7;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #e0e0e0;
}

.back-button:hover {
  background-color: #fafafa;
  color: #555;
}
