.industry-link {
    display: block;
    width: 80%;
    margin: 0 auto 3% auto;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: #ffffff;
    color: #333;
    font-size: 1.25rem;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.industry-link:first-child {
    margin-top: 5%;
}
