.form-container {
    background-color: #ffffff;
    margin: 5%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 90px; 
    padding-bottom: 20px;
}
  .selection-add-box {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.selection-add-box label {
    font-weight: bold;
}
input {
    width: 80%;
}
select {
    width: 80%;
}
html {
    background-color: #f7f7f7;
}
.btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-box button {
    background-color: #15397A;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
}
.bc-btn a {
    background-color: red;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
}