.selection-add-box {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selection-add-box label {
    font-weight: bold;
}
input {
    width: 80%;
}
select {
    width: 80%;
}
html {
    background-color: #f7f7f7;
}